:root{
    --fancyBlack : #060709;
    --fancyWhite: #E3E2DB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-color: var(--fancyWhite);
    position: relative;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--fancyBlack);
    border-radius: 30px;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
header{
    width: 100%;
    min-width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.25);
}
.background__image{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://i.imgur.com/DsTjcaV.png);
    background-size: cover;
    background-position: center;
    opacity: 40%;
}
.title{
    z-index: 2;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    color: white;
    text-decoration: none;
    text-align: center;
}
.title:hover{
    font-size: 3.1rem;
}
.menu{
    z-index: 2;
    width: 100%;
    padding: 10px 0px;

    font-family: serif;
}
.menu__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.menu__list li{
    font-size: 1.8rem;
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}
.menu__list a{
    color: white;
    text-decoration: none;
}
.menu__list a:hover{
    text-decoration: underline;
}


main{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    animation: showMain 0.5s ease-in forwards;
    opacity: 0;
    transform: translateX(-30px);
}

@keyframes showMain {
    10%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

main section{
    width: 100%;
    height: auto;
    min-height: 350px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.section--title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: normal;
    font-family: 'DM Serif Display', serif;
    color: black;
}
.contenido p{
    font-size: 2.2rem;
}
.about{
    display: flex;
    flex-direction: column;

}

.about .section--title{
    padding: 0 20px;
}
.about .contenido{
    order:3;
    padding: 0 20px;
}
.profile__image{
    order:2;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.25);
}

.contact{
    padding: 0 20px;
}
.contacts__list{
    list-style: none;
    padding-left: 20px;
}
.contacts__list li{
    height: auto;
    min-height: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.icon{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.email{
    width: 30px;
    height: 30px;
    background-image: url(../assets/email.svg);
}
.uis{
    width: 100px;
    height: 50px;
    background-image: url(https://i.imgur.com/7KCzc5t.png);
}
.ula{
    width: 200px;
    height: 50px;
    background-image: url(https://i.imgur.com/k6v52oy.jpg);
}

@media (min-width: 700px) {

    .section--title{
        text-align: left;
    }
    .about{
        display: grid;
        grid-template-columns: auto 320px;
        grid-template-rows: 50px auto;
        justify-content: center;
    }
    .about .section--title{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .about .contenido{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .profile__image{
        grid-row-start: 2;
        grid-column-start: 2;
        margin: 0;
    }
    .contacts__list li{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .contacts__list p{
        padding-left: 10px;
    }
    

}