:root{
    --fancyBlack : #060709;
    --fancyWhite: #E3E2DB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: auto;
    background-color: var(--fancyWhite);
    position: relative;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--fancyBlack);
    border-radius: 30px;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
header{
    width: 100%;
    min-width: 320px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.25);
}
.background__image{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://i.imgur.com/ULlme6i.png);
    background-size: cover;
    background-position: center;
    opacity: 40%;
}
.title{
    z-index: 2;
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    color: white;
    text-decoration: none;
    text-align: center;
}
.title:hover{
    font-size: 3.1rem;
}
.menu{
    z-index: 2;
    width: 100%;
    padding: 10px 0px;

    font-family: serif;
}
.menu__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.menu__list li{
    font-size: 1.8rem;
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}
.menu__list a{
    color: white;
    text-decoration: none;
}
.menu__list a:hover{
    text-decoration: underline;
}


main{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    overflow: hidden;
    animation: showMain 0.5s ease-in forwards;
    opacity: 0;
    transform: translateX(-30px);
}

@keyframes showMain {
    10%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

main section{
    width: 100%;
    height: auto;
    min-height: 350px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.section--title{
    text-align: center;
    font-size: 3.2rem;
    font-weight: normal;
    font-family: 'DM Serif Display', serif;
    color: black;
}
.changeOrder{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: black;
    background-color: transparent;
    border: none;
}
.changeOrder:hover{
    text-decoration: underline;
}
.contenido p{
    font-size: 2rem;
}
.publications{
    display: flex;
    flex-direction: column;
}
.publications .contenido{
    padding: 0 30px;
}
.pdf__list{
    display: flex;
    flex-direction: column;
}
.pdf{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    cursor:default;
}
.pdf__title{
    display: list-item;
    list-style: disc;
}
.pdf__download{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
.pdf__download:hover{
    text-decoration: underline;
}
